@media only screen and (max-width: 1023px) {
  /* Styles for small screens like smartphones */

header {
    height: 250px;

}

  #bottom-left-header h4 {
    font-size: 16px;
}

#job-title {
    display: block;
    margin-left: 30px;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 5px;
}

#bottom-left-header h2 {
    max-width: 100vw;
    font-size: 20px;
    font-weight: 900;
    font-weight: bold;
    color: var(--eggshell); 
    /* -webkit-text-stroke: 1.5px var(--eggshell); Stroke size and color */
    line-height: 0.7;
    margin-bottom: 10px;
     
}

#aspiring {
    display: flex;
}

#software {
    display: flex;
    padding-left: 20px;
}
#engineer {
    display: flex;
    padding-left: 40px;
}
#profile-pic {
    width: 150px;
    align-self: flex-end;
}


}