* {
    border: 0;
    padding: 0;
    margin: 0;
}

:root {
    --rich-black: #0d1321ff;
    --prussian-blue: #1d2d44ff;
    --prussian-blue-see: rgba(29, 45, 68, 0.95);
    --light-prussian-blue: rgb(40, 62, 93);
    --paynes-gray: #3e5c76ff;
    --silver-lake-blue: #748cabff;
    --eggshell: #f0ebd8ff;
    
}

header {
    margin: 0; /* Remove default margins */
    background-image: url('../images/background.avif'); /* Replace with your image path */
    background-size: cover; /* Make the image cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background stay in place when scrolling */
    background-position: center; /* Center the image */
    width: 100vw;
    max-width: 100vw;
    min-width: 300px;
    height: 300px;
}

#header-ctr {
    background-color: var(--prussian-blue-see);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-header {
    display: flex;
    align-items: center;

}

#logo-ctr {
    color: var(--eggshell);
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
}

#social-links {
    color: white;
    display: flex;
    gap: 10px;
    height: 20px;
    margin-left: auto;
    margin-right: 30px;
}

a img {
  display: block; /* Or inline-block for inline-level behavior */
}

#bottom-header {
    color: var(--eggshell);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0px 15px;
   
}


#bottom-left-header h4 {
    font-weight: 700;
    color: var(--eggshell);
}
#bottom-left-header h2 {
    font-size: 44px;
    font-weight: 900;
    font-weight: bold;
    color: var(--eggshell); 
    text-align: center; /* Optional: center alignment */
    font-style: italic;
    
}

#profile-pic {
    width: 190px;
}

@media only screen and (max-width: 1023px) {
  /* Styles for small screens like smartphones */


  #bottom-header {
    flex-direction: column;
  }
  #bottom-left-header h4 {
    font-size: 15;
    font-weight: 700;
}
#bottom-left-header h2 {    
    max-width: 100vw;
    font-size: 25px;
    font-weight: 900;
    font-weight: bold;
    color: var(--eggshell); 
    /* -webkit-text-stroke: 1.5px var(--eggshell); Stroke size and color */
    
}
#profile-pic {
    width: 150px;
}
}