* {
    border: 0;
    padding: 0;
    margin: 0;
}

:root {
    --rich-black: #0d1321ff;
    --prussian-blue: #1d2d44ff;
    --prussian-blue-see: rgba(29, 45, 68, 0.95);
    --light-prussian-blue: rgb(40, 62, 93);
    --paynes-gray: #3e5c76ff;
    --light-paynes-gray: rgba(62, 92, 118, 0.231);
    --silver-lake-blue: #748cabff;
    --eggshell: #f0ebd8ff;
}

header {
    margin: 0;
    background: url('../images/background.avif') center/cover no-repeat fixed;
    width: 100vw;
    height: 300px;
}

#header-ctr {
    background-color: var(--prussian-blue-see);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-header {
    display: flex;
    align-items: center;
}

#logo-ctr {
    color: var(--eggshell);
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
}

#social-links {
    color: white;
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 30px;
}

a img {
    display: block;
}

#bottom-header {
    color: var(--eggshell);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

#bottom-left-header h4 {
    font-weight: 700;
    color: var(--eggshell);
    padding-left: 30px;
}

#job-title {
    display: flex;
    gap: 15px;
    padding-left: 30px;
}

#bottom-left-header h2 {
    font-size: 44px;
    font-weight: bold;
    color: var(--eggshell);
    text-align: center;
    font-style: italic;
}

#contact-btn, #portfolio-btn {
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: 600;
    margin: 25px 12px 25px 30px;
}

#contact-btn {
    background-color: var(--rich-black);
    color: var(--eggshell);
    border: 1px solid var(--eggshell);
    font-weight: 700;
}

#portfolio-btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--eggshell);
    border: 1px solid var(--eggshell);
    padding: 5px 15px;
    margin-top: 25px;
    font-weight: 700;
}

#profile-pic {
    width: 190px;
}